<div class="container-fluid">
    <div class="card">
      <div class="inner-box">
        <div class="card-front">
          <h2>SIGNUP</h2>
          <form>
            <input type="name" class="input-box" placeholder="Your Name" required>
            <input type="email" class="input-box" placeholder="Your Email Id" required>
            <input type="password" class="input-box" placeholder="password" required>
            <button type="submit" class="submit-btn">Submit</button>
            <input type="checkbox" class="text"><span>Remember Me</span>    
           </form>
           <button type="button" class="btn">I've an account</button>
           <a href="Login"class="text login-text">Login</a>
        </div>
      </div>
    </div>
