<div class="container">
  <div class="cardDiv">
    <img src="{{single[0].img}}" alt=""></div>
<h2>{{single[0].description}}</h2>
<p>{{single[0].description2}}</p>
<p>{{single[0].description3}}</p>
<div class="container text-center">
  <div class="row">
    <div class="col col-lg-3"  >
      <div class=" images" style="width: 18rem;">
        <img src="{{single[0].img1}}" class="card-img-top" alt="...">
        <img src="{{single[0].img2}}" class="card-img-top" alt="...">
        <img src="{{single[0].img3}}" class="card-img-top" alt="...">
        <img src="{{single[0].img4}}" class="card-img-top" alt="...">
        
      </div>
    </div>
  </div>
</div>

  </div>

