

  <div class="container" 
  style=" top: 100px; margin-bottom: 200px;">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img class="frontImg" src="https://th.bing.com/th/id/R.bbf64a7e3e631e5675de2d59583b1bab?rik=nFn0kShbrNtuFw&riu=http%3a%2f%2fimages.unsplash.com%2fphoto-1563737590014-5d5c37378130%3fcrop%3dentropy%26cs%3dtinysrgb%26fit%3dmax%26fm%3djpg%26ixid%3dMnwxMjA3fDB8MXxzZWFyY2h8Mnx8ZmVtYWxlJTIwbGFwdG9wfHwwfHx8fDE2MjcyNTEwODU%26ixlib%3drb-1.2.1%26q%3d80%26w%3d1080&ehk=K%2bXmGj%2fUcSLCLOfr2%2fa3EnLGEIguNh0IEnsdX9QwNUI%3d&risl=&pid=ImgRaw&r=0" alt="">
         </div> 
     </div>
     <div class="cover">
      <div class="back">
        <img class="backImg" src="https://th.bing.com/th/id/OIP.TDtAqVNPZdAqS5wUVMCsKAHaE7?w=251&h=180&c=7&r=0&o=5&pid=1.7" alt="">
        </div>
     </div>
  
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Login</div>
          <form action="#">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Enter your email" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Enter your password" required>
              </div>
              <div class="text"><a href="#">Forgot password?</a></div>
              <div class="button input-box">
                <input type="submit" value="Sumbit">
              </div>
              <div class="text sign-up-text">Don't have an account? <label for="flip">Sigup now</label></div>
            </div>
        </form>
      </div>
      
      <div class="signup-form">
        <div class="title">Signup</div>
      <form action="#">
          <div class="input-boxes">
            <div class="input-box">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Enter your name" required>
            </div>
            <div class="input-box">
              <i class="fas fa-envelope"></i>
              <input type="text" placeholder="Enter your email" required>
            </div>
            <div class="input-box">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Enter your password" required>
            </div>
            <div class="button input-box">
              <input type="submit" value="Sumbit">
            </div>
            <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label></div>
          </div>
    </form>
  </div>
  </div>
  </div>
  </div>
  
